<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
  <title>Login</title>
</head>
<body>
  <header th:replace="layout :: site-header" />
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
          <h3>Login now!</h3>
        </div>
      </div>
    </div>
      <div class="container">
        <form method="post" th:object="${loginForm}">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="username"><b>Username</b></label>
                  <input id="username" type="text" name="username" class="form-control" placeholder="Username" th:value="*{username}"/>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password"><b>Password</b></label>
                  <input id="password" type="password" name="password" class="form-control" placeholder="Password" th:value="*{password}"/>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Login" class="btn btn-primary"/>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
  <footer th:replace="layout :: site-footer" />
</body>


</html>