<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
</head>

<body>
    <header th:replace="layout :: site-header" />

    <div id="fh5co-blog-section" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h3>Start Funding Projects Now!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row row-bottom-padded-md" >
                <div class="col-lg-4 col-md-4 col-sm-6" th:each="p : ${projects}">
                    <div class="fh5co-blog animate-box">
                        <a th:href="@{/projects/view/{id}/(id=${p.id})}">
                            <img class="img-responsive" src="img/cover_bg_1.jpg" alt=""/>
                        </a>
                        <div class="blog-text">
                            <div class="prod-title">
                                <h3>
                                    <a th:href="@{/projects/view/{id}/(id=${p.id})}" th:text="${p.getTitle()}"></a>
                                </h3>
                                <span class="posted_by">from <b th:text="${p.getOwner().getFullName()}"></b></span>
                                <p>
                                    <i class="icon-user"> </i>
                                    <a>Funders: <b th:text="${p.getFundings().size()}"></b>
                                    </a>
                                </p>
                                <p>
                                    <i class="icon-coin-dollar" > </i>
                                    <a>Fundings: <b th:text="${p.getSumFundingsValue()}"></b>
                                    </a>
                                </p>
                                <p>
                                    <i class="icon-calendar"> </i>
                                    <a>Time left: <b th:text="${p.getDueDateString()}"></b>
                                    </a>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                         th:style="'width:'+${p.getProjectPercentComplete()}+'%'"
                                         th:text="${p.getProjectPercentComplete()}+'%'"
                                    >
                                    </div>
                                </div>
                                <p th:text="${p.getDescription()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="layout :: site-footer" />
</body>

</html>
